<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<FileSystem>
    <fileSystemName>{{ file_system_name }}</fileSystemName>
    <fileSystemSizeInGigaByte>1</fileSystemSizeInGigaByte>
    <aclType>Advanced ACL</aclType>
    <NamespaceShareSettings>
    	<namespaceType>FileSystem</namespaceType>
        <type>Read/Write</type>
    </NamespaceShareSettings>
</FileSystem>
