<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<MountSetting>
    <isMounted>true</isMounted>
    <isReadOnly>false</isReadOnly>
    <isFileLastAccessTimeRecordingEnabled>true</isFileLastAccessTimeRecordingEnabled>
</MountSetting>

