<namespace>
    <name>{{ namespace_name }}</name>
    <hashScheme>SHA-256</hashScheme>
    <enterpriseMode>true</enterpriseMode>
    <hardQuota>50 GB</hardQuota>
    <softQuota>75</softQuota>
    <optimizedFor>ALL</optimizedFor>
    <versioningSettings>
        	<enabled>true</enabled>
        	<prune>true</prune>
        	<pruneDays>10</pruneDays>
    </versioningSettings>
    <searchEnabled>true</searchEnabled>
    <indexingEnabled>true</indexingEnabled>
    <customMetadataIndexingEnabled>true</customMetadataIndexingEnabled>
    <serviceRemoteSystemRequests>true</serviceRemoteSystemRequests>
</namespace>
