<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<dataAccessPermissions>
    <namespacePermission>
        <namespaceName>{{ namespace_name }}</namespaceName>
        <permissions>
            <permission>BROWSE</permission>
            <permission>SEARCH</permission>
            <permission>PURGE</permission>
            <permission>WRITE_ACL</permission>
            <permission>DELETE</permission>
            <permission>READ</permission>
            <permission>READ_ACL</permission>
            <permission>WRITE</permission>        
        </permissions>
    </namespacePermission>
</dataAccessPermissions>
