<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<HCP>
    <systemName>{{ hcp_host }}</systemName>
    <tenantName>{{ hcp_tenant }}</tenantName>
    <userName>{{ hcp_username }}</userName>
    <password>{{ hcp_password }}</password>
</HCP>
