<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<permissions>
    <permission>SEARCH</permission>
    <permission>PURGE</permission>
    <permission>WRITE_ACL</permission>
    <permission>DELETE</permission>
    <permission>PRIVILEGED</permission>
    <permission>READ</permission>
    <permission>READ_ACL</permission>
    <permission>WRITE</permission>
</permissions>
