<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<MigrationTask>
                <task-name>task</task-name>
                <fileSystemName>{{ file_system_name }}</fileSystemName>
                <namespace>{{ namespace_name }}</namespace>
                <schedule-start-time>{{ newtime }}.000+00:00</schedule-start-time>
                <schedule-interval>5d</schedule-interval>
                <duration>8</duration>
</MigrationTask>
